.profile {
    background-color: goldenrod;
    color: red;
}

.description {
    color: green;
}

.avatar {
    border-radius: 75%;
}

.name {
    color: gold;
    display: flex;
    justify-content: center;
}

.tag {
    color: blue;
    display: flex;
    justify-content: center;
}

.location {
    color: aqua;
    display: flex;
    justify-content: center;
}

.stats {
    color: black;
    display: flex;
    justify-content: space-between;
}

.label {
    color: blueviolet;
}

.quantity {
    color: teal;
}