.offline {
    background-color: red;
}

.online {
    background-color: green;
}

.offline, .online {
    display: block;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

.friendList {
    list-style-type: none;

}

.friendListItem {
    display: flex;
    align-items: center;
}

.avatar {
    max-height: 50px;
}